body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: rgb(255, 255, 255);
}

/*FOOTER STYLED*/

footer{
    margin-bottom: 0px;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 10%;
    text-align: center;
    color: rgb(0, 0, 0);
}

footer a{
    color:rgb(0, 0, 0);
}

#copp{
border: 2px solid white;
margin-left: 25%;
width: 50%;
background-color: white;
}

#copy{
    padding-top: 20px;
}


/* HEADER STYLED*/

header{
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 15% ;
    margin-top: 0%;
    padding: 0%;
    
}

ul{
     text-align: right;
     margin-right: 100px;
     padding-top: 10px;
}

#road{
    background-color: white;
    width: 40%;
    height: 50px;
    margin-left: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 40px;

}
   
li{
    margin-left: 50px;
    display: inline;
}

li a{
    color: rgb(0, 0, 0); 
}

/*logo styling*/

#logo{

    height: 90px;
    width: 90px;
    background-color: antiquewhite;
    border-radius:70%;
    float: inline-start;

}


/*Media screen size A*/
@media (max-width: 767px) {

    footer{
        margin-top: 90%;
    }
    
    #copp{
        border: 2px solid white;
        margin-left: 0;
        width: 100%;
        background-color: white;
        }


}